<section class="hero is-link is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Create a New Milestone
      </h1>
      <h2 class="subtitle">
        Make it challenging. You'll break this down further.
      </h2>
    </div>
  </div>
</section>
<section class = "section">
    <%= render 'form';%>
</section>