<article class="media">
  <figure class="media-left">
      <input type="checkbox">

  </figure>
  <div class="media-content">
    <div class = "content">
      <p>
        <%= task.body %>
      </p>
    </div>
    <%= render partial: 'tasks/task', collection: task.tasks %>
  </div>
</article>