<section class="hero is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Create a New Task
      </h1>
      <h2 class="subtitle">
        <%= @milestone.title %>
      </h2>
    </div>
  </div>
</section>
<section class="section">
    <%= render 'form'%>
</section>