<%= link_to goal do%>
    <div class = "card">
        <div class = "card-image">
            <figure class="image">
                <img src="https://weandthecolor.com/wp-content/uploads/2016/03/Use-the-Sprayer-symbol-in-Adobe-Illustrator.jpg" alt="Placeholder Image">
            </figure>
        </div>
        <div class = "card-content">
            <div class="media-content">
                <div class = "subtitle is-6"><%= goal.title %></div>
                <div class = "subtitle is-6"><%= goal.due_date %></div>
            </div>
        </div>
    </div>
<% end %>