<% goal_count = Goal.count %>
<% row_count = (goal_count / 3.to_f).ceil.to_i %>
<div class = "goal-container">
        <% @goals.each_slice(3) do |goals| %>
            <% goals.each do |goal| %>
                <div class = "goal-box">
                    <%= link_to goal do%>
                        <div class = "goal-title"><%= goal.title %></div>
                        <div class = "goal-due-date"><%= goal.due_date %></div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    <%= link_to "goals/new" do %>
        <div class = "goal-box" id = "add-goal">
            <i class = "goal-title glyphicon glyphicon-plus"></i>
        </div>
    <% end %>
    </div>
</div>