<section class="hero is-link is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edit Your Goal
      </h1>
      <h2 class="subtitle">
        Make it unique.
      </h2>
    </div>
  </div>
</section>
<section class="section">
    <%= render 'form'%>
</section>