<h1><%= link_to(@goal.title, target: "_blank")%> <i class="glyphicon glyphicon-star-empty" style="font-size: 2.75rem;"></i> <br/></h1>

<div class = "timeline-wrapper">
  <h3>Milestones</h3>

  <ul>
    <%= render(partial: 'milestones/milestone', collection: @goal.milestones) %>
  </ul>
</div>