<h1><%= link_to(@goal.title, target: "_blank")%></h1>
<div class = "timeline-wrapper">
  <h3>Milestones</h3>
  <div>
    <%= render(partial: 'milestones/milestone', collection: @goal.milestones) %>
  </div>
  <div id = "add-milestone">
    <%= link_to new_goal_milestone_path(@goal) do %>
    <i class = "glyphicon glyphicon-plus" ></i>
    <% end %>
  </div>
</div>