/* Milestone Styling Goes Here */

/* colors */
$milestone-color: #f44336;
$milestone-title-color: #fff;
$milestone-subtle-color: #ffcdd2;
$add-milestone-color: #424242;
$shadow-color: #aeaeae;

/* font sizes */
$xxs-font-size: 18px;
$xs-font-size:  20px;
$s-font-size:   24px;
$m-font-size:   26px;
$l-font-size:   30px; 

/* design */
$border-radius: 10px;
$side-margin: 5px;
$title-padding: 10px;
$date-padding: 10px;
$glyph-padding: 10px;

/* Default Styling */
#add-milestone {
    text-align: center;
    font-size: 28px;
    i{
        color: $add-milestone-color;
    }
}
#milestone {
    border-radius: $border-radius;
    background-color: $milestone-color;
    margin: $side-margin;
    box-shadow: 1px 1px 3px 1px $shadow-color;
    .top {
        .milestone-title {
            padding-top: $title-padding;
            padding-left: $title-padding;
            padding-right: $title-padding;
            color: $milestone-title-color;
            word-wrap: normal;
        }
        .milestone-date {
            padding-left: $date-padding;
            padding-bottom: $date-padding;
            color: $milestone-subtle-color;
        }
    }
    .bottom {
            .glyphicon {
                padding: $glyph-padding;
                color: $milestone-subtle-color;
            }
        }
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .milestone-title {
        font-size: $xxs-font-size;
    }
    .glyphicon {
        font-size: $xxs-font-size;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .milestone-title {
        font-size: $xs-font-size;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #milestone {
        margin-left: 45px;
        margin-right: 45px;
    }
    .milestone-title {
        font-size: $s-font-size;
        text-align: center;
    }
    .milestone-date {
        text-align: center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #milestone {
        margin-left: 125px;
        margin-right: 125px;
    }
    .milestone-title {
        font-size: $m-font-size;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #milestone {
        margin-left: 250px;
        margin-right: 250px;
    }
    .milestone-title {
        font-size: $l-font-size;
    }
}