<footer class="footer">
    <div class="content has-text-centered">
        <p>
             <strong>Smart Goals</strong> by <a href="https://twitter.com/awash227">@awash227</a>.
             Feel free to tweet me feature ideas, issues, or anything else!
        </p>
    </div>
</footer>