<nav class = "navbar navbar-inverse navbar-fixed-top">
    <div class = "container">
        <div class = "navbar-header">
            <button type = "button" data-target = "#navbarCollapse" data-toggle = "collapse" class = "navbar-toggle">
            <span class="sr-only">Toggle Nav </span>
        </div>
    </div>
</nav>